@import url('https://fonts.googleapis.com/css2?family=Marvel+Sans:wght@600&family=Poppins:wght@300&display=swap');



*{
    padding: 0;
    margin: 0;
}
body{
    background-color:black;
}
.main{
    background-image: url("assets/images/bg.png");
    background-position: center center;
    background-size: max(1000px,100vw);
    height: 70vh;
    background-repeat: no-repeat;
    position: relative;
    background-size:cover;
    
}
.main.box{
    height: 70vh;
    width: 100%;
    opacity: 0.30;
    background-color:black;
    position: absolute;
    top:0;
    background-color: black;
}

nav{
    max-width:80vw;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:62px;
}
nav img{
    
    width: 130px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: 'Martel sans',sans-serif;
    height: calc(100% - 100px);
    height: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    position:relative;
    gap:18px;
    padding: 0 29px;
}
.hero> :nth-child(1){
     font-family: "poppins";
     font-weight:bold;
     font-size:30px;
     text-align: center;
}
.hero> :nth-child(2){
    font-weight:400;
    font-size:24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight:250;
    font-size:20px;
    text-align: center;
}

.btn{
    padding:3px 8px;
    font-weight:400;
    color:white;
    background-color: rgba(248,243,243,0.021);
    border:1px solid white;
    cursor:pointer;
}
#img1{
    display:flex;
    justify-items: center;
    align-items: center;
    
}
.btn-red{
    text-decoration: underline;
    background-color:red;
    color:white;
    padding: 3px 24px;
    font-size:15px;
    border-radius:4px;
    font-weight:400;
}
.main input{   
    color:white;
    padding:7px 101px 8px 14px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid white;
}
.btn-red-sm{
    background-color: red;
    color:white;
}
.hero-buttons{
    display:flex;
    align-items:center;
    justify-content: center;
    gap:14px;
}
.first{
    display:flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color:white;
    justify-content: center;
    align-items: center;
}
.separation{
    border: none;
    border-top: 1px solid #000; /* thin black line */
    height: 1px; /* adjust thickness as needed */
    margin: 20px 0; /* add some space above and below the line */
}
.secImg{
    position:relative;
}
.secImg img{
    width:30vw;
    position:relative;
    z-index:10;
}
.secImg video{
    position:absolute;
    top:51px;
    right:0;
}
section.first>div{
    display:flex;
    flex-direction: column;
}
.first > div:first-child{
    font-size:20px;
    font-weight: bolder;
}
.first>div:nth-child{
    font-size:10px;
    font-weight:bolder;
}
.faq{
    background: black;
    color:white;
    padding:34px;
}
.faq h2{
    text-align: center;
}
.faqbox{
    color:white;
    transition:all 1s ease-out;
    font-size: large;
    justify-content: center;
    display:flex;
    background-color: grey;
    padding:10px;
   max-width: 100%;
   margin:34px auto;
   cursor:pointer;
}
.faqbox:hover{
    background-color: yellow;
}
footer{
    color:white;
    max-width:60vw;
    margin:auto;
    padding:34px;
}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
    max-width:60vw;
    margin:auto;
}
.footer-item{
    
    display:flex;
    flex-direction: column;
    gap:23px;
}
.footer a{
    text-decoration: underline;
    color:white;
    font-size:15px;
}

.questions{
    padding:34px 0px;
}
@media screen and (max-width:500px){
    body{
        background-color: red;
    }
}
@media screen and (max-width:1100px){
    .first{
        flex-wrap:wrap;
    }
}
@media screen and (max-width:1300px){
    .footer{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}
#lang{
    cursor:pointer;
}